<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
	  <img src="afbeeldingen/kpn-logo-small.png" width="60">
        <a class="navbar-brand" href="#">MOOD MONITOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
		  
        </div>
      </div>
    </nav>

<div>
<div class="container">


    <div class="form-group">
        <label class="user" for="username">Username</label>
        <input type="text" placeholder="" class="form-control" id="username" placeholder="Your username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="" class="form-control" id="password" placeholder="Your password" />
    </div>
    <div class="btn-group-vertical btn-block text-center" role="group">
        <button class="btn btn-danger btn-lg">Login Now</button>
      
    </div>
     
	<!-- end:Main Form -->
</div>


	<!-- end:Main Form -->
</div>

  </div>

  </body>

</html>
